<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <style>
        body {
            margin: 2rem;
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
        }
    </style>
</head>

<body>
    <ul>
        <li>
            State id: {{id}}
        </li>
        <li>
            Datetime: {{datetime}}
        </li>
        <li>
            Sensor value id: {{sensor_value_id}}
        </li>
        <li>
            Sensor value datetime: {{sensor_value_datetime}}
        </li>
        <li>
            Sensor value payload: {{sensor_value_payload}}
        </li>
        <li>
            Sensor value payload type: {{sensor_value_payload_type}}
        </li>
    </ul>
    <a href="javascript:location.reload(true)">Refresh</a>
</body>

</html>